@font-face {
  font-family: navFont;
  src: url(../personal/fonts/Rounded_Elegance.ttf);
}

@font-face {
  font-family: headFont;
  src: url(../personal/fonts/Cute_Meow.otf);
}


body{
  background: url(../images/wallpaper.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color: white;
  font-size: 60pt;
  margin: 0;
  font-family: headFont;
  padding: 5px;
  letter-spacing: 5px;
}
ul{
  list-style: none;
  font-size: 40pt;
  text-align: right;
}

ul li{
  margin: 20px;
}

ul li a{
  text-decoration: none;
  background-color: rgba(0,0,0,.3);
  padding: 6px;
  border-radius: 10px;
  color: white;
  font-family: navFont;
}

ul li a:hover{
  color: rgba(255, 231, 149, 1);
  font-size: 45pt;
}
